<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>edot@esuite under maintenance</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background: #eee; text-align: center;">
        <div style="margin-top: 50px;">
            <img src="https://s3-eu-west-1.amazonaws.com/cdn.esuite.edu/edot/images/maintenance-main.png" style="max-width: 100%; height: auto; display: inline-block; vertical-align: middle;"/>
        </div>
        <div style="color: #006e51;
                    font-size: 24px;
                    letter-spacing: -0.6px;
                    line-height: 1.3;
                    margin: 50px 0 0 0;
                    padding: 0;
                    font-family: 'Roboto Slab', serif;
                    font-weight: 400;
                    -webkit-font-smoothing: antialiased;">
            {{ msg }}
        </div>
    </body>
</html>
