########################################################################
## Update PHP memory_limit
########################################################################

files:
  "/etc/php.d/edot.ini":
    content: |
      memory_limit = 3G
      upload_max_filesize = 1G
      post_max_size = 0
      expose_php = Off
    mode: "000644"
    owner: root
    group: root
