########################################################################
## Set up cloudwatch logs
########################################################################
packages:
  yum:
    jq: []

container_commands:
   01-custom-cw-config:
       command: |
          echo "Replacing environment name..."
          ENV_NAME=$(/opt/elasticbeanstalk/bin/get-config container | jq -r '.environment_name')
          sed -i "s/AWSEBEnvironmentName/${ENV_NAME}/g" .ebextensions/cloudwatch/cloudwatch-logs-config.json

          echo "Enabling custom CloudWatch configuration..."
          cp .ebextensions/cloudwatch/cloudwatch-logs-config.json /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/

          echo "Restarting agent..."
          systemctl restart amazon-cloudwatch-agent
