commands:
  01_redis_clean_up:
    # run this command from /tmp directory
    cwd: /tmp

    # uninstall
    test: '[ -f /etc/php.d/redis.ini ] && echo "uninstalling redis.ini"'
    command: |
        rm -f /etc/php.d/redis.ini

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root

  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 3G
