files:
    "/tmp/certs/rds-combined-ca-bundle.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: 'https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "AWS_ENVIRONMENT"}}`/rds-ca-2019-root.pem'
        authentication: S3Access

    "/tmp/certs/pk-CloudFront.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/pk-CloudFront.pem"
        authentication: S3Access

    "/tmp/certs/idp-esuite-FederationMetadata.xml" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/idp-esuite-FederationMetadata.xml"
        authentication: S3Access


    "/tmp/certs/box_awsdev_private_key.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/box_awsdev_private_key.pem"
        authentication: S3Access
    "/tmp/certs/box_int_private_key.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/box_int_private_key.pem"
        authentication: S3Access
    "/tmp/certs/box_uat_private_key.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/box_uat_private_key.pem"
        authentication: S3Access
    "/tmp/certs/box_prd_private_key.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/box_prd_private_key.pem"
        authentication: S3Access


    "/tmp/certs/edot-light-saml-int.crt" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/edot-light-saml-int.crt"
        authentication: S3Access
    "/tmp/certs/edot-light-saml-int.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/edot-light-saml-int.pem"
        authentication: S3Access
    "/tmp/certs/edot-light-saml-uat.crt" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/edot-light-saml-uat.crt"
        authentication: S3Access
    "/tmp/certs/edot-light-saml-uat.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/edot-light-saml-uat.pem"
        authentication: S3Access
    "/tmp/certs/edot-light-saml-prd.crt" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/edot-light-saml-prd.crt"
        authentication: S3Access
    "/tmp/certs/edot-light-saml-prd.pem" :
        mode: "000644"
        owner: webapp
        group: webapp
        source: "https://s3-eu-west-1.amazonaws.com/edot-resources-and-other-files/common/certificates/edot-light-saml-prd.pem"
        authentication: S3Access

Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    buckets: edot-resources-and-other-files
                    roleName:
                        "Fn::GetOptionSetting":
                            Namespace: "aws:autoscaling:launchconfiguration"
                            OptionName: "IamInstanceProfile"
                            DefaultValue: "aws-elasticbeanstalk-ec2-role-dev-MiM"

container_commands:
    00_create_certs_folder:
        command: mkdir /var/app/staging/certs
        test: '[ ! -d /var/app/staging/certs ] && echo "creating certs folder"'
    01_copy_certs:
        command: find /tmp/certs -iregex '\(/tmp/certs/edot-light-saml-'$AWS_ENVIRONMENT'.pem\|/tmp/certs/edot-light-saml-'$AWS_ENVIRONMENT'.crt\|/tmp/certs/rds-combined-ca-bundle.pem\|/tmp/certs/pk-CloudFront.pem\|/tmp/certs/box_'$AWS_ENVIRONMENT'_private_key.pem\)' -exec cp {} /var/app/staging/certs/ \;
    02_change_ownership:
        command: chown -R webapp:webapp /var/app/staging/certs
        test: '[ -d /var/app/staging/certs ] && echo "changing certs folder owner"'
    03_delete_all_tmp_certs:
        command: rm -rf /tmp/certs/* && rm -rf /tmp/certs/*.bak
        test: '[ -d /tmp/certs ] && echo "removing temp certificates"'
