container_commands:
  01_composer_dependencies:
    command: /usr/bin/composer.phar install
  02_run_migrations:
    command: php bin/console doctrine:migrations:migrate -n --env=$AWS_ENVIRONMENT
    leader_only: true
  03_clear_cache:
    command: php bin/console cache:clear --env=$AWS_ENVIRONMENT
  04_clear_warmup:
    # no warmup to avoid bad file paths for twig templates
    command: php bin/console cache:clear --env=$AWS_ENVIRONMENT --no-warmup
  05_install_assets:
    command: php bin/console assets:install web
  06_cache_permission:
    command: chown -R webapp:webapp var
  07_create_tmp:
    command: mkdir -p /var/app/tmp/uploads
    ignoreErrors: true
  08_change_owner:
    command: chown -R webapp:webapp /var/app/tmp
    ignoreErrors: true
  09_install_gcc:
    command: |
      if [[ $( rpm -qa | grep -ic gcc ) < 1 ]]; then
        yum -y install gcc
      else
        echo "GCC is already installed"
      fi
  10_install_imagemagick:
    command: |
      if [[ $( rpm -qa | grep -ic ImageMagick ) < 1 ]]; then
        yum -y install ImageMagick
      else
        echo "ImageMagick is already installed"
      fi
  11_install_imagemagick_devel:
    command: |
      if [[ $( rpm -qa | grep -ic ImageMagick-devel ) < 1 ]]; then
        yum -y install ImageMagick-devel
      else
        echo "ImageMagick-devel is already installed"
      fi
  12_install_restart_php_fpm_service:
    command: service php-fpm restart && echo "php-fpm has been restarted"
  13_install_pecl_imagemagick:
    command: |
      if [[ $( php -m | grep -c imagick ) < 1 ]]; then
        pecl install -f imagick && service php-fpm restart
      else
        echo "PHP Imagick is already intalled and added as a PHP MODULE"
      fi
